*{
    margin: 0%;
    padding: 0%;
}
#result {
    font-size: 18px;
    color: #555;
    margin-top: 20px;
    padding: 10px;
    display:inline-block;
    border-radius: 12px;
    background-color: #fff;
  }
  body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color:lightgoldenrodyellow;
    margin: 0;
    padding: 20px;
}

h1 {
    color:black;
}

button {
    background-color:red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px
}
